.App {
    text-align: center;
  }
  
  .App-header {
    background-color: #00588A;
    padding: 20px;
    color: white;
  }
  .row1 {
    display: flex;
    justify-content: center;
  }
  
  .box {
    border: 1px solid #ddd;
    color: white;
    background-color: #0E94DF;
    border-radius: 3vh;
    padding: 10px;
    margin: 10px;
    height: 10%;
    width: 25vh;
    
    text-align: center;
  }
  
  .icon {
    font-size: 10vh;
  }
  
  p {
    margin: 5px 0;
    font-size: 4vh;
  }
  .t
  {
    font-size: 2vh;
    color: #FFFFFF;
  }
  
  input 
  {
    height: 15%;
    width: 60%;
    border-radius: 5vh;
    border-style: none;
  }
  
  .container1
  {
    display: flex;
    justify-content: space-between;
  }
  button
  {
    width: 23vh;
    height: 7vh;
    font-size: x-large;
    background-color: #00588A;;
    border-style: none;
    color: #FFFFFF;
  }
  
  #i1
  {
      border-top-right-radius: 2vh;
      border-bottom-right-radius: 2vh;
  }
  
  #i2
  {
    border-top-left-radius: 2vh;
    border-bottom-left-radius: 2vh;
  }