.App41 {
    text-align: center;
  }
  
  .App-header41 {
    background-color: #00588A;
    padding: 20px;
    color: white;
  }
  
  .container41
  {
    color:#00588A;
    justify-content: center;
  }
  .row141 {
    display: flex;
    justify-content: center;
  }
  
  .row241 {
    display: flex;
    justify-content: center;
  }
  
  .box41 {
    border: 1px solid #ddd;
    color: white;
    background-color: #0E94DF;
    border-radius: 3vh;
    padding: 10px;
    margin: 10px;
    height: 20vh;
    width: 20vh;
    text-align: center;
  }
  
  .icon41 {
    font-size: 10vh;
  }
  
  .icons41
  {
    font-size: 5vh;
  }
  
  .para41 {
    margin: 10px 0;
    font-size: 2.5vh;
  }
  
  .container141
  {
    display: flex;
    justify-content: space-between;
  }

  #i141
  {
      border-top-right-radius: 2vh;
      border-bottom-right-radius: 2vh;
      width: 23vh;
      height: 7vh;
      font-size: x-large;
      background-color: #00588A;;
      border-style: none;
      color: #FFFFFF;
  }
  
  #i241
  {
    border-top-left-radius: 2vh;
    border-bottom-left-radius: 2vh;
    width: 23vh;
    height: 7vh;
    font-size: x-large;
    background-color: #00588A;;
    border-style: none;
    color: #FFFFFF;
  }
  