.App4 {
    text-align: center;
  }
  
  .App-header4 {
    background-color: #00588A;
    padding: 20px;
    color: #FFFFFF;
  }
  
  .row4 {
    display: flex;
    justify-content: center;
  }
  
  .box4 {
    border: 1px solid #ddd;
    color: white;
    background-color: #0E94DF;
    border-radius: 3vh;
    padding: 10px;
    margin: 10px;
    height: 30vh;
    width: 30vh;
    text-align: center;
  }
  
  .icon4 {
    font-size: 10vh /* Adjust the font size for your icon */
  }
  
  .para4 {
    margin: 10px 0;
    font-size: 3vh;
  }
  
  .container14
  {
    display: flex;
    justify-content: space-between;
  }

  
  #i14
  {
      border-top-right-radius: 2vh;
      border-bottom-right-radius: 2vh;
      width: 23vh;
      height: 7vh;
      font-size: x-large;
      background-color: #00588A;;
      border-style: none;
      color: #FFFFFF;
  }
  
  #i24
  {
    border-top-left-radius: 2vh;
    border-bottom-left-radius: 2vh;
    width: 23vh;
    height: 7vh;
    font-size: x-large;
    background-color: #00588A;;
    border-style: none;
    color: #FFFFFF;
  }
  
  