.App43 {
  text-align: center;
  background-color: rgb(1, 49, 98);
}

.App-header43 {
  background-color: rgb(5, 109, 189);
  padding: 2vh;
  color: white;
}

.row143 {
  margin-top: 5%;
  margin-bottom: 20%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Allow flex items to wrap */
}

.box43 {
  color: white;
  background-color: rgb(132, 193, 236);
  border-radius: 3vh;
  padding: 2vh;
  margin: 2vh;
  height: 25vh;
  width: 25vh; /* Adjusted to percentage for better responsiveness */
  max-width: 30vh; /* Limit maximum width */
  text-align: center;
}

.icon43 {
  font-size: 10vh;
}

.para43 {
  margin: 1vh 0;
  font-size: 2.5vh;
}

.container143 {
  display: flex;
  justify-content: space-between;
}

#i143{
  border-top-right-radius: 2vh;
  width: 23vh; /* Adjusted to percentage for better responsiveness */
  height: 7vh;
  font-size: 150%; /* Adjusted for smaller screens */
  background-color: rgb(5, 109, 189);
  border-style: none;
  color: #FFFFFF;
}
#i243 {
  border-top-left-radius: 2vh;
  width: 23vh; /* Adjusted to percentage for better responsiveness */
  height: 7vh;
  font-size: 150%; /* Adjusted for smaller screens */
  background-color: rgb(5, 109, 189);
  border-style: none;
  color: #FFFFFF;
}

/* Media query for responsiveness */
@media screen and (max-width: 768px) {
  .box43 {
    width: 45%; /* Adjust width for smaller screens */
    max-width: none; /* Remove maximum width */
  }

  .icon43 {
    font-size: 6vh; /* Adjust icon size for smaller screens */
  }

  .para43 {
    font-size: 2vh; /* Adjust paragraph font size for smaller screens */
  }

  #i143,
  #i243 {
    width: 90%; /* Adjust button width for smaller screens */
    font-size: 120%; /* Adjust button font size for smaller screens */
  }
}
